= render "new1"
.sign_up__footer
  %nav
    %li
      %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー&emsp;
    %li
      %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約&emsp;
    %li
      %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
  =link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826", alt: "mercari", height: "65", width: "80", class: "single-footer-logo"
  %p
    %small © 2019 Mercari
