////// 購入画面 ////////

html {
  color: #000;
  }

h1 {
  font-weight: bold;
  }

.l-chapter-head {
  display: block;
  // margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  }

a {
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
  }

nav {
  display: block;
  }
  
.bold {
  font-weight: 600;
  }

img {
  vertical-align: middle;
  }

section {
  display: block;
  }  

body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  }

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: inherit;
  box-sizing: inherit;
  }

div {
  display: block;
  }

span {
  vertical-align: middle;
  }

.single-containers {
  padding: 0 0 220px;
  background: rgb(245, 245, 245);
  } 
  
.single-headers {
  height: 128px;
  text-align: center;
  a {
    width: 185px;
    height: 49px;
    line-height: 49px;
    display: inline-block;
    margin: 0 8px 0 0;
    }
  h1 {
    margin: 40px 0 0;
    display: inline-block;
    font-weight: bold;
    img {
      width: 185px;
      height: 49px;
      }
    }
  }
  
  
  .single-main {
    display: block;
    }

  .l-single-container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    .shipping{
      position: relative;
      bottom: 25px;
      color: red;
      font-size: 18px;
      padding: 16px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
      left: 30px;
      }
    }
   
  .buy-content:first-of-type {
    margin: 0;
    }
  .buy-item {
    text-align: center;
    img {
      width: 64px;
      }
    }
  .buy-item > .buy-content-inner {
    display: flex;
    flex-wrap: wrap;
    }
  .buy-content {
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
    }
    .buy-content-inner {
      max-width: 320px;
      margin: 0 auto;
      }
      h3 {
        font-size: 22px;
        font-weight: bold;
        }
        .lazyload {
          opacity: 1;
          transition: opacity .3s;
          }
        .purchase-completed {
        width: calc(100% - 80px);
        margin: 0 0 0 16px;
        text-align: left;
        font-size: 21px;
        line-height: 1.5;
        font-weight: bold;
        left: 56px;
        position: relative;
        
        }
      .buy-form {
        width: 100%;
        p {margin: 8px 0 0;
          line-height: 1.5;
          }
        }
        .buy-price-ja {
          font-size: 22px;
          .item-shipping-fee {
            margin: 0 0 0 8px;
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            }
          }
          .buy-accordion.not-have {
            background: #ccc;
            }
            .buy-accordion {
              margin: 16px 0 0;
              }
            .accordion-toggle {
              cursor: default;
              padding: 16px;
              border: 1px solid #ccc;
              position: relative;
              }
          .buy-price-table {
            display: table;
            border-collapse: collapse;
            width: 100%;
            }
            .buy-price-row:first-child {
              border: 0;
              }
            .buy-you-pay {
              font-size: 18px;
              display: table-row;
              }
              .buy-price-cell:first-child {
                text-align: left;
                }
              .buy-price-cell {
                display: table-cell;
                padding: 16px 0;
                text-align: right;
                }
              .buy-price-cell span {
                font-size: 28px;
                } 

@mixin btn-default{
  margin-top: 40px;
  background: $RedColor;
  border: 1px solid $RedColor;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  font-family: inherit;
  font-style: inherit;
  background-color: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  }

.buy-user-info {
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  h3:first-child {
    margin: 0;
    }
  h3 {
    margin: 40px 0 0;
    font-size: 14px;
    }
  }
.buy-content {
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
  &__inner {
    max-width: 320px;
    margin: 0 auto;
    }
  }
    
  .buy-user-info address {
    display: block;
    }
  .buy-user-info-text {
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.4;
      }  
  .buy-user-info-fix {
    display: block;
    text-align: right;
    .icon-arrow-right {
      margin: 0 0 0 8px;
      font-size: 10px;
      vertical-align: middle;
      }  
    }
    
  .buy-content-inner {
    max-width: 320px;
    margin: 0 auto;
    }
      h3:first-child {
        margin: 0;
        }
      h3{
        margin: 40px 0 0;
        font-size: 14px;
        }
      
    .buy-content:last-of-type {
      padding: 24px 12.5% 40px;
      }


  .single-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 40px 0;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0; 
    a {
      display: block;
      color: #333;
      text-decoration: none;
      touch-action: manipulation;
      }
    }
    .single-footer-logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      img {
        width: 80px;
        height: 65px;
        }
      }
    
    
    // li:first-child {
    //   margin: 0;
    //   }
    .info {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 12px;
      }
    p {
      margin: 8px 0 0;
      } 
    small {
      font-size: 13px;
      }    

    i[class^='icon-'], i[class*='icon-'] {
    display: inline-block;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }


.sending-goods{
  background-color: #FFFACD;
  height: 100px;
}

.fa-clock{
  color: red;
  position: relative;
  font-size: 35px ;
  top: 20px;
  left: 245px;
}

.transmission{
  margin-top: 0;
}

.notification{
  position: relative;
  bottom: 30px;
  left: 233px;
}