.single-container{
  background-color: rgb(245, 245, 245);
  padding-bottom: 40px;
}
.single-header{
  height: 128px;
  text-align: center;
  h1{
    padding-top: 40px;
  }
}
.single-main{
  width: 100%;
  &__container{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    h2{
      padding: 32px 16px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }
  }
  .sell-form{
    border-top: 1px solid #eee;
    &__upload{
      width: 620px;
      padding: 40px;
      lavel{
        font-size: 16px;
        font-weight: bold;
      }
      p{
        margin:8px 0 10px 0;
      }
      .form-arbitrary{
        @include form-arbitrary;
        background-color:$RedColor;
      }
      &--box{
        width: 620px;
        height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        font-size: 0;
        text-align: center;
        &--item{
          position: relative;
          width: 80%;
          height: 80px;
          margin: 40px auto;
          input{
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
          }
          pre{
            position: absolute;
            top: 25%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
.sell-content{
  border-top: 1px solid #eee;
  padding: 40px;
  lavel{
    font-size: 16px;
    font-weight: bold;
  }
  p{
    margin:8px 0 10px 0;
  }
  .form-arbitrary{
    @include form-arbitrary;
    background-color:$RedColor;
  }
  input{
    @include input-form;
    margin-bottom: 40px;
  }
  textarea.input-default{
    @include input-form;
    border-radius: 0;
    margin-top: 8px;
    height: 130px;
    padding: 10px;
  }
  &__head{
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
  }
  .form-question{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
}
.sell-content.clearfix{
  .form-group{
    margin-left: 210px;
  }

}
.select-wrap{
  margin-top: 8px;
  position: relative;
  i{
    position: absolute;
    right: 22px;
    top: 34%;
    z-index: 2;
    color: #888;
    font-size: 28px;
  }
  .select-default{
    @include select-form;
    width: 400px;
    margin-bottom: 20px;
}

}