.single-container{
  background-color:$BackgroundColor;
  padding-bottom: 40px;
 }
 .single-header{
  height: 128px;
  text-align: center;
  h1{
    padding-top: 40px;
  }
 }
 .single-main{
  width: 100%;
  &__container{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    h2{
      padding: 32px 16px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }
  }
  .sell-form{
    border-top: 1px solid #eee;
    &__upload{
      border-top: 1px solid #eee;
      width: 620px;
      padding: 40px;
      &--head{
        position: relative;
      }
      lavel{
        font-size: 16px;
        font-weight: bold;
      }
      p{
        margin:8px 0 10px 0;
      }
      .form-arbitrary{
        @include form-arbitrary;
        background-color:$RedColor;
      }
      &--box{
        width: 620px;
        height: 182px;
        margin-bottom: 5px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        font-size: 0;
        text-align: center;
        position: relative;
          input{
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
          }
          pre{
            position: absolute;
            left: 16px;
            right: 16px;
            top: 35%;
            height: 100%;
            text-align: center;
            font-size: 14px;
            line-height: 1.4;
            word-wrap: break-word;
            white-space: pre-wrap;
            transform: translate(0, -35%);
            .click-drop{
              height: 50%;
            }
          }
          .upload-image {
            content: “”;
            position: absolute;
            top: -30px;
            right: 0;
            bottom: 0;
            left: -62px;
            width: 622px;
            height: 164px;
            z-index: 1;
            display: none;
          }
          #preview {
            display: flex;
            position: relative;
          }
          #preview2 {
            display: flex;
            width:700px;
          }
          .img_view{
            background-color:$BackgroundColor;
            height: 152px;
            position: relative;
            margin-left: 7px;
          }
          img {
            width: 100px;
            height: 140px;
            margin: 0 8px 0 8px;
            // left: -200px;
          }
          .btn_wrapper-image{
            background-color: #f5f5f5;
            display: flex;
            .btn-edit{
              border-right: 1px solid rgb(218, 217, 217);
              width: 50%;
              height: 44px;
              color: $BlueColor;
              font-size: 15px;
              line-height: 44px;
              // float: left;
              cursor: pointer;
              &:hover{
                opacity: 0.6;
                text-decoration: underline;
              }
            }
            .btn-delete{
              font-size: 15px;
              width: 50%;
              line-height: 44px;
              color: $BlueColor;
              cursor: pointer;
              &:hover{
                opacity: 0.6;
                text-decoration: underline;
              }
            }
          }
      }
    }
    .btn-default.btn-red{
      width: 85%;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
 }

 #parent_category, #child_category, #grandchild_category {
   height: 50px;
   width:414px;
   background-color: white;
   border: 1px solid #ccc;
   margin-top: 5px;
 }


 #dropzone2{
  display: none;
 }
 .sell-content{
  border-top: 1px solid #eee;
  padding: 40px;
  lavel{
    font-size: 16px;
    font-weight: bold;
    &.left-yen{
      margin-left: 120px;
      margin-right: 5px;
      font-weight: normal;
    }
  }
  p{
    margin:8px 0 10px 0;
  }
  .form-arbitrary{
    @include form-arbitrary;
    background-color:$RedColor;
  }
  input{
    @include input-form;
    margin-bottom: 40px;
    &.price{
      width: 40%;
    }
  }
  textarea.input-default{
    @include input-form;
    border-radius: 0;
    margin-top: 8px;
    height: 130px;
    padding: 10px;
  }
  &__head{
    float: left;
    color: #888;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
  }
  .form-question{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
 }
 .sell-content.clearfix{
  .form-group{
    margin-left: 210px;
    &__line{
      margin-left: 210px;
      padding: 24px 0;
      border-top: 1px solid #ccc;
      span:nth-last-child(1){
        float: right;
      }
      &.bold{
        font-weight: bold;
      }
    }
  }
 }
 .select-wrap{
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  i{
    position: absolute;
    right: 22px;
    top: 25%;
    z-index: 2;
    color: #888;
    font-size: 28px;
  }
  .select-default{
    @include select-form;
    width: 400px;
    margin-bottom: 20px;
  }
 }
 .sell-content__sell-box{
  padding: 40px;
  border-top: 1px solid #eee;
  p{
    font-size:14px;
    a{
      color:$BlueColor;
    }
  }
 }
 .btn-gray{
  @include btn-gray;
 }
 select#item_condition {
  height: 50px;
  width: 414px;
  background-color: white;
  border: solid 1px #ccc;
 }
 select#item_delivery {
  height: 50px;
  width: 414px;
  background-color: white;
  border: solid 1px #ccc;
 }
 select#item_area {
  height: 50px;
  width: 414px;
  background-color: white;
  border: solid 1px #ccc;
 }
 select#item_days {
  height: 50px;
  width: 414px;
  background-color: white;
  border: solid 1px #ccc;
 }