-# マイページ＞支払い方法＞カードの登録がない時のページ

=render "items/header"

.mypage
  .mypage__content
    = render "items/sidebar"
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-head 支払い方法
        .l-single-inner
          %section
            .l-single-content
              %h3.l-chapter-sub-head クレジットカード一覧
            %ul.settings-payment-list
              %section.settings-add-card
                .l-single-content
                  = link_to card_edit_item_path ,class:"add-button" do
                    クレジットカードを追加する
                    = fa_icon 'credit-card'
          .settings-not-regist
            =link_to "/jp/help_center/category/6/" do
              %span 支払い方法について
              %i.fas.fa-chevron-right


=render "items/footer"
