////// トップページ ////////
=render "header"
.main-visual
  %ul.main-visual__top
    %li
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2508029365", class: "main-visual__top__first"
    %li
      = image_tag "main.jpg", class: "main-visual__top__second"
      .main-visual__inner
        %h2.top スマホでかんたん
        %h2 フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br>/
          購入時も安心な独自システムのアプリです
        .main-visual__inner__icon.clearfix
          %ul.clearfix
            =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" ,target: "_blank" do
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983" ,alt: "", height: "60", width: "170"
            =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983", alt: "", height: "60", width: "170"
        %img{class:"banner-image",alt: "", height: "400",src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/

=render partial: "item", locals: {items: @items, image: @image}
=render "footer"

