=render "items/header"

.mypage
  .mypage__content
    = render "items/sidebar"
    .l-contents
      .l-chapter-containers
        .l-single-inners
          .l-single-contents
            =button_to 'ログアウト', destroy_user_session_path, method: :delete,class:"btn-logouts"
=render "items/footer"