=render "items/header"

.mypage
  .mypage__content
    = render "items/sidebar"
    .l-content
      .l-chapter-container
        .l-single-inner
          .l-single-content
            =button_to 'ログアウト', destroy_user_session_path, method: :delete,class:"btn-logout"
=render "items/footer"