.banner{
  background: url('footer_image.jpg') fixed;
  background-position: center;
  background-size: cover;
  color: white;
  height: 270px;
  position: relative;
  padding: 0 250px;
  &__inner{
    margin-left: 90px;
    padding-top: 30px;
  }  
  h2{
    font-weight: bold;
    font-size:25px;
  }
  p{
    font-size:35px;
  }
  &__inner__icon{
    margin: 20px 0 0;
    img{
      float: left;
      margin-right: 10px;
    }
    ul{
      display: flex;
      margin-left: 24px;
      li{
        padding: 15px 15px 15px 0;
      }
    }
  }
}
figure{
  position: absolute;
  float: right;
  display: block;
  top: 0;
  right: 300px;
  bottom: 0;
}

.footer{
  height: 400px;
  padding: 0 220px;
  background: #212121;
  color: #fff;
  &__cell{
    float: left;
    width: 25%;
    &--head{
      padding-top: 20px;
      &--sns .sns{
        font-size: 35px;
        padding: 5px 14px 5px 0;
        i{
          color: white;
        }
      }
    }
    &--inner{
      float: left;
    }
    li{
      margin-top:12px;
      a{
        color: white;
        opacity: 0.7;
        font-size:11px;
        text-decoration: none;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
  &__bottom{
    content: '';
    display: block;
    clear: both;
    margin: 30px auto 20px;
    width: 100%;
    text-align: center;
    &--logo{
      float: left;
    }
    &--copyright{
      clear: both;
      display: block;
      font-size: 10px;
    }
  }
}



.header {
  height: 100px;
  width: 100%;
  z-index: 1;
  &__inner {
      margin: 0 168px;
      padding-top: 8px;
      &__top {
          display: flex;
          form.header-form {
              margin-left: 45px;
              width: 100%;
              display: flex;
              position: relative;
              input.input-default {
                  height: 100%;
                  width: 100%;
                  padding: 0 42px 0 10px;
                  border-radius: 4px;
                  background-color: #f5f5f5;
                  border: 1px solid #ccc
              }
              i.fa-search {
                  position: absolute;
                  top: 12px;
                  right: 12px;
                  font-size: 16px;
                  -webkit-text-stroke: 1px #f5f5f5;
              }
          }
      }
      &__bottom {
          height: 44px;
          display: flex;
          margin: 8px 0 0;
          justify-content: space-between;
          font-size: 14px;
          line-height: 30px;
          &--left {
              display: flex;
              a.header__category {
                  padding-right: 11px;
              }
              a.header__brand {
                  padding-left: 11px;
              }
              i.left {
                  color: red;
              }
          }
          &--right {
              display: flex;
              a.header-btn.btn-red {
                  background: #ea352d;
                  border: 1px solid #ea352d;
                  color: #fff;
                  border-radius: 4px;
                  text-align: center;
                  height: 32px;
                  width: 106px;
              }
              a.header-btn.header-login {
                  margin-left: 8px;
                  display: block;
                  border: 1px solid #0099e8;
                  background: #fff;
                  color: #0099e8;
                  border-radius: 4px;
                  height: 32px;
                  width: 78px;
                  text-align: center;
              }
          }
      }
  }
}
a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
