
.banner{
  // @include clearfix();
  background: url('footer_image.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  height: 270px;
  position: relative;
  padding: 0 250px;
  &__inner{
      height: 100%;
      display: block;
      margin-left: 80px;
      h2{
        padding-top: 30px;
        font-weight: bold;
        font-size:25px;
      }
      p{
        font-size:35px;
      }
    }  
    &__inner__icon{
      margin: 20px 0 0;
      .banner-icon{
          display: flex;
          float: left;
        }
        ul{
          display: flex;
          margin-left: 24px;
          a{
            padding: 15px 0 0 20px;
            &:hover{opacity:0.6;}
          }
        }
      }
      .banner-image{
        position: absolute;
        top: 0;
        right: 320px;
      }
}

.footer{
    height: 400px;
    padding: 0 50px 0 190px;
    background: #212121;
    color: #fff;
    &__cell{
        float: left;
        width: 230px;
        &--head{
          padding-top: 20px;
          width: 350px;
          &--sns .sns{
              font-size: 35px;
              padding: 5px 14px 5px 0;
          }
        }
        &--list{
          width: 350px;
          display: flex;
        }
        &--inner{
          float: left;
          width: 350px;

        }
        li{
            margin-top:11px;
            a{
              color: white;
              opacity: 0.7;
              font-size:11px;
              text-decoration: none;
              &:hover{text-decoration:underline;}
            }
        }
        &.footer-nav-lang{
          padding-left: 150px;
        }
    }
    &__bottom{
      clear: both;
      padding-top: 10px;
      height: 40px;
      line-height: 35px;
      &--logo{
        float: left;
        &:hover{opacity:0.7;}
      }
      &--copyright{
        font-size: 10px;
        padding-left: 300px;
      }
    }
}
.footer-self-btn{
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    color: white;
    border-radius: 50%;
    background: #ea352d;
    text-align: center;
    line-height: 65px;
    .camera{
      font-size: 54px;
      margin-bottom: 0px;
      }
}