.header {
  height: 100px;
  width: 100%;
  z-index: 1;
  &__inner {
      margin: 0 168px;
      padding-top: 8px;
      &__top {
          display: flex;
          form.header-form {
              margin-left: 45px;
              width: 100%;
              display: flex;
              position: relative;
              input.input-default {
                  width: 100%;
                  padding: 0 42px 0 10px;
                  border-radius: 4px;
                  background-color: #f5f5f5;
                  border: 1px solid #ccc
              }
              i.fa-search {
                  position: absolute;
                  top: 12px;
                  right: 12px;
                  font-size: 16px;
                  -webkit-text-stroke: 1px #f5f5f5;
              }
          }
      }
      &__bottom {
          display: flex;
          margin: 8px 0 0;
          justify-content: space-between;
          font-size: 14px;
          line-height: 30px;
          &--left {
              a.header__category {
                  padding-right: 11px;
              }
              a.header__brand {
                  padding-left: 11px;
              }
              i.left {
                  color: red;
              }
          }
          &--right {
              .header-btn{
                text-align: center;
                border-radius: 4px;
                height: 32px;
                padding: 10px 15px;
                margin-left: 8px;
              }
              a.header-btn.btn-red {
                  background: #ea352d;
                  border: 1px solid #ea352d;
                  color: #fff;
              }
              a.header-btn.header-login {
                  border: 1px solid #0099e8;
                  background: #fff;
                  color: #0099e8;
              }
          }
      }
  }
}
a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}